CREATE OR REPLACE FUNCTION public.reset_pin_by_link(_rel_id uuid, _code text, _new_hash text)
RETURNS text LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS \$\$
DECLARE r RECORD;
BEGIN
  SELECT * INTO r FROM public.relationships WHERE id = _rel_id;
  IF r IS NULL THEN RAISE EXCEPTION 'not found'; END IF;
  IF r.invite_code IS NULL OR r.invite_code <> _code THEN RAISE EXCEPTION 'invalid code'; END IF;
  
  -- The admin resets the partner. So if admin is A, partner is B.
  -- But we don't know who generated the link. We'll just assume it's for whoever is NOT the admin, 
  -- or we could add a specific column.
  -- To keep it simple: we clear the invite_code and update BOTH if they somehow don't match, or just update B?
  -- Actually, the user says 'im the admin... i will reset her password'. So the admin (Slot A) resets Slot B.
  UPDATE public.relationships SET pin_hash_b = _new_hash, invite_code = NULL WHERE id = _rel_id;
  RETURN 'b';
END; \$\$;
GRANT EXECUTE ON FUNCTION public.reset_pin_by_link(uuid, text, text) TO authenticated, anon;

